
<h1>Course List</h1>
@for(int i = 1 ; i <= 10; i++)
{
<div class="row course">
   <div class="col-md-1">
      <img src="img/logo.png" width="52" height="52">
   </div>
   <div class="col-md-5">
      <h2>Course title</h2>
      <author>di Nome autore</author>
   </div>
   <div class="col-md-2 rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
   </div>
   <div class="col-md-2 price">
      10,99€ <br/><s>12.99€</s>
   </div>
   <div class="col-md-2">
      <a class="btn btn-outline-primary" asp-action="Detail"  asp-route-id="5">Detail</a>
   </div>
</div>

 }